body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Poppins", sans-serif;
}

.testimonial-swiper {
  overflow: visible;
  position: relative;
  z-index: 2;
}

.testimonial-swiper .swiper-slide {
  background: transparent;
}

.testimonial-main-card {
  /* min-height: 426px; */
}

.testimonial-stack {
  position: relative;
}

.testimonial-preview-card {
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.testimonial-divider {
  position: absolute;
  top: 40px;
  bottom: 15px;
  left: 50%;
  width: 1px;
  background: #d1d5e3;
  transform: translateX(-50%);
}

.testimonial-divider::before,
.testimonial-divider::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 999px;
  background: #a8adbf;
  transform: translateX(-50%);
}

.testimonial-divider::before {
  top: -6px;
}

.testimonial-divider::after {
  bottom: -6px;
}

.js-faq-toggle {
  cursor: pointer;
}

.js-faq-arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.js-faq-item.is-open .js-faq-arrow {
  transform: rotate(180deg);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}