body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Poppins", sans-serif;
}

.testimonial-swiper {
  overflow: visible;
  position: relative;
  z-index: 2;
}

.testimonial-swiper .swiper-slide {
  background: transparent;
}

.testimonial-main-card {
  min-height: 360px;
}

.testimonial-stack {
  position: relative;
}

.testimonial-preview-card {
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.testimonial-divider {
  position: absolute;
  top: 40px;
  bottom: 15px;
  left: 50%;
  width: 1px;
  background: #d1d5e3;
  transform: translateX(-50%);
}

.testimonial-divider::before,
.testimonial-divider::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 999px;
  background: #a8adbf;
  transform: translateX(-50%);
}

.testimonial-divider::before {
  top: -6px;
}

.testimonial-divider::after {
  bottom: -6px;
}

.js-faq-toggle {
  cursor: pointer;
}

.js-faq-arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.js-faq-item.is-open .js-faq-arrow {
  transform: rotate(180deg);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}





.scroll-bar {
    position: fixed;
    left: 20px;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 100;
}


.scroll-label {
writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.18em;
    color: #906F81;
}


.scroll-track {
    position: relative;
    width: 1px;
        height: calc(100vh - 360px);
    background: rgba(90, 90, 90, 0.25);
    border-radius: 999px;
    overflow: hidden;
}

.scroll-fill {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4a7c59;
    border-radius: 999px;
    animation: scrollDown 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}


.scroll-dot {
width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #EA8E88;
    animation: dotPulse 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}